<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nichidai (Thailand) | Login</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
 
</head>

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card text-white bg-danger">
        <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-2">
                <i class="fas fa-exclamation-triangle fa-4x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">Access Denied</h1>
                    <p class="card-text">You do not have permission to view this resource.</p>
                </div>
            </div>
        </div>
    </div>
</div>

